<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Segment UI Prototype</title>

	<link href="//fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700" rel="stylesheet">
	<link href="//clients.audience360.com/css/36f3fdc.css" type="text/css" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="//clients.audience360.com/bundles/dpmaudience/img/favicon.ico?620a9d0c6bade26ab4944ece27eb937a" />
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="/dist/style.css">
</head>
<body>

<div class="main-container">
	<div class="main" id="rulesetEditForm">

		<div class="filter-row">
			<div class="title-area clearfix">
				<h1 class="page-header page-breadcrumb pull-left">
					<a href="https://clients.audience360.com/segment/">Segments</a>
					<i class="ion-chevron-right"></i>
					<span id="pageHeader">Builder</span>
				</h1>

				<div class="pull-right">
					<a class="btn btn-default" href='javascript:(function(d,t){var%20g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src="//clients.audience360.com/debug/bookmarklet/55?r="%20+%20Math.random();s.parentNode.insertBefore(g,s)}(document,"script"))();' data-placement="right" data-toggle="tooltip" data-trigger="click hover" title="The bookmarklet can be used to test your pixel. Click and drag the bookmarklet to your browsers bookmark toolbar then navigate to a url where you would like to test your pixel. Lastly, click on the pixel bookmark to load your pixel."><i class="ion-bookmark"></i> Bookmarklet</a>
					<button class="btn btn-primary btn-small"><i class="ion-ios-refresh-empty"></i> Update Pixel <img src="https://clients.audience360.com/bundles/dpmaudience/img/loader.gif?620a9d0c6bade26ab4944ece27eb937a" style="display:none;width:25px;height:25px"></button>
					<a class='btn btn-success' data-id="9658" href="#" id="copyToNewSegment"><i class="ion-plus-round"></i> Copy Segment</a>
					<div class="switch-wrapper">
						<input id="any-all" type="checkbox" value="1">
					</div>
				</div>
			</div>

			<div class="alert alert-danger pixel-status hidden" data-url="https://clients.audience360.com/segment/update-pixel/segment/9658" id="updatePixelBanner">
				<div class="pixel-msg">
					<p><strong>Warning!</strong> You have recently modified this segment which contains an 'Evaluate Javascript' rule.</p>
					<p>Since invalid javascript entered for this rule can cause the pixel to throw javascript errors, please make sure to <span style="text-decoration: underline">first test the pixel using the Bookmarklet BEFORE clicking 'Update Pixel'</span> to manually push this segment to the production pixel. Updates typically take 15-20 minutes to propagate.</p>
				</div>
			</div>
		</div>

		<div id="ruleset-edit-target"></div>

		<form id="segment-builder" rv-class="data.formClass">

			<div class="ruleset-container">

				<!-- TEMPLATE: Parent ruleset -->
				<div class="ruleset" rv-data-id="rule.id" rv-data-operator="rule.operator" rv-each-rule="data.rules">
					<div class="sep">
						<span rv-if="data.matchTypeAll">and</span>
						<span rv-if="data.matchTypeAny">or</span>
					</div>

					<div class="bar">
						<div id="ruleset-edit-target"></div>

						<span class="field">
							<select class="small" rv-if="data.fields.ruleType" data-rule-type="rule-type">
								<option>Rule types&hellip;</option>
								<optgroup rv-each-group="data.fields.ruleType" rv-label="group.name">
									<option rv-each-option="group.options" rv-value="rule.ruleType">{ option.label }</option>
								</optgroup>
							</select>
						</span>

						<span class="field">
							<select class="small" rv-name="rule.operator">
								<option rv-value="contains">contains</option>
								<option rv-value="exactly">exactly</option>
								<option rv-value="regexp">RegExp</option>
							</select>
						</span>

						<span class="field">
							<input type="text" placeholder="Enter value" rv-value="rule.param">
						</span>

						<span class="button add">
							<button rv-on-click="data.handlers.addChild">
								<i class="ion-android-add-circle"></i>
								<em rv-if="data.matchTypeAny">and</em>
								<em rv-if="data.matchTypeAll">or</em>
							</button>
						</span>
					</div>

					<span class="button remove">
						<button rv-on-click="data.handlers.removeParent">
							<i class="ion-android-remove-circle"></i>
						</button>
					</span>

					<!-- Child rules -->
					<div class="ruleset child" rv-data-parent-id="rule.id" rv-data-id="child.id" rv-data-type="child.type" rv-data-operator="child.operator" rv-each-child="rule.children">
						<div class="sep">
							<i class="ion-funnel"></i>
							<span rv-if="data.matchTypeAny">and</span>
							<span rv-if="data.matchTypeAll">or</span>
						</div>

						<div class="bar">
							<span class="field">
								<select class="small" rv-if="data.fields.ruleType" data-rule-type="rule-type">
									<option>Rule types&hellip;</option>
									<optgroup rv-each-group="data.fields.ruleType" rv-label="group.name">
										<option rv-each-option="group.options" rv-value="child.ruleType">{ option.label }</option>
									</optgroup>
								</select>
							</span>

							<span class="field">
								<select class="small" rv-name="child.operator">
									<option rv-value="contains">contains</option>
									<option rv-value="exactly">exactly</option>
									<option rv-value="regexp">RegExp</option>
								</select>
							</span>

							<span class="field">
								<input type="text" name="rule_value" placeholder="Enter value" rv-value="child.value">
							</span>
						</div>

						<span class="button remove">
							<button rv-on-click="data.handlers.removeChild">
								<i class="ion-android-remove-circle"></i>
							</button>
						</span>
					</div>
				</div>

				<!-- Add parent rule -->
				<div class="add-ruleset">
					<div class="bar">
						<span class="button add">
							<button rv-on-click="data.handlers.addParent">
								<i class="ion-android-add-circle"></i>
								<em>New Rule</em>
							</button>
						</span>
					</div>
				</div>
			</div>

		</form>

		<form id="editSegmentForm" method="post" name="editSegmentForm">
			<h2>Save Segment</h2>

			<p class="alert alert-success text-center" data-provide="form-success" style="display: none">
				Your changes were successfully saved.
			</p>
			<p>
				<label class="required" for="dpm_audiencebundle_customsegment_name">Name</label>
				<input id="dpm_audiencebundle_customsegment_name" name="dpm_audiencebundle_customsegment[name]" required="required" type="text" value="Copy-of-iNET HostingCon Global - WHT Qualified" placeholder="Name your segment">
			</p>
			<p>
				<label for="dpm_audiencebundle_customsegment_appnexusId">Segment ID</label>
				<input disabled="disabled" id="dpm_audiencebundle_customsegment_appnexusId" name="dpm_audiencebundle_customsegment[appnexusId]" type="text" value="2716195">
			</p>
			<p>
				<label>Status:</label>
				<span class="option">
					<input checked="checked" id="dpm_audiencebundle_customsegment_isActive" name="dpm_audiencebundle_customsegment[isActive]" type="checkbox" value="1">
					<label for="dpm_audiencebundle_customsegment_isActive" class="inline">Active</label>

					<input id="dpm_audiencebundle_customsegment_isBackend" name="dpm_audiencebundle_customsegment[isBackend]" type="checkbox" value="1">
					<label for="dpm_audiencebundle_customsegment_isBackend" class="inline">Image Pixel</label>
				</span>
			</p>
			<p id="imagePixel">
				<textarea cols="20" readonly rows="3" style="width:100%;margni-bottom:10px;resize: none;">&lt;img src="http://ib.adnxs.com/seg?add=2716195" width="1" height="1" /&gt;</textarea>
			</p>
			<p>
				<label class="required" for="dpm_audiencebundle_customsegment_expireDays">Keep user in segment for</label>
				<select id="dpm_audiencebundle_customsegment_expireDays" name="dpm_audiencebundle_customsegment[expireDays]" required="required">
					<option value="">Please select&hellip;</option>
					<option value="15">15 Days</option>
					<option value="30">30 Days</option>
					<option value="60">60 Days</option>
					<option selected="selected" value="120">120 Days</option>
					<option value="-1">Lifetime</option>
					<option value="-10">Custom</option>
				</select>
			</p>
			<p>
				<label for="dpm_audiencebundle_customsegment_customExpireDays">Custom expire days</label>
				<input id="dpm_audiencebundle_customsegment_customExpireDays" name="dpm_audiencebundle_customsegment[customExpireDays]" type="text">
			</p>
			<p class="submit">
				<button class="btn btn-primary" type="submit"><i class="ion-checkmark-round"></i> Save</button>
				<button class="btn btn-secondary go-to-list" type="submit"><i class="ion-arrow-right-c"></i> Save &amp; go to list</button>
				<button class="btn btn-secondary add-another" type="submit"><i class="ion-plus-round"></i> Save &amp; add another</button>
			</p>
			<input id="dpm_audiencebundle_customsegment_jsExpression" name="dpm_audiencebundle_customsegment[jsExpression]" type="hidden" value="{&quot;matchType&quot;:&quot;ANY&quot;,&quot;rulesets&quot;:[{&quot;matchType&quot;:&quot;ALL&quot;,&quot;rules&quot;:[{&quot;type&quot;:&quot;TimeOnSite&quot;,&quot;formParameters&quot;:{&quot;param&quot;:&quot;30&quot;,&quot;match_type&quot;:&quot;greater&quot;}},{&quot;type&quot;:&quot;PageUrl&quot;,&quot;formParameters&quot;:{&quot;param&quot;:&quot;webhostingtalk.com&quot;,&quot;match_type&quot;:&quot;contains&quot;}}]}]}"> <input id="dpm_audiencebundle_customsegment__token" name="dpm_audiencebundle_customsegment[_token]" type="hidden" value="SNItEhedYf6EzHd9rlxJXkYW3BTHMUBzr-jfrpZUKL8">
		</form>
	</div>
</div><!--// end .main-container -->

<script type="text/javascript" src="//clients.audience360.com/js/2097439.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/watch/2.0.3/jquery.watch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/rivets/0.8.1/rivets.bundled.min.js"></script>
<script src="/assets/jquery.switchButton.js"></script>
<script src="/dist/interaction.js"></script>

</body>
</html>